html body{
	background-color: #ECECEC;
	
}

#login{
	width: 400px;
	height: 450px;
	 box-shadow: 0px 0px 4px 1px rgba(181,163,181,1);
	 background-color: white;
}

#login{
    position:relative;
    z-index:1;
    margin:50px auto;
}

#login:before{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:30%;
    content:"";
    background-color:#D4E157;
}

#pc{
	padding-top: 30px;
}

.input[type=text] {
  height:17px;
  border: 0;
  width: calc(90% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #b3bdce, 8px 10px 0px -7px #b3bdce;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

.input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #D4E157, 8px 10px 0px -7px #D4E157;
}

input#enterpassword { -webkit-text-security: disc; }

#log{
	padding-top: 50px;
	padding-left: 34px;
}

#btn{
  background-color: #D4E157;
    border: none;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   margin-top: 45px;
   margin-left: 220px;
   box-shadow: 0px 0px 1px 1px rgba(181,163,181,1);
   width: 35%;
 
}

#entername{
	margin-top: 80px;
}

#enterpassword{
	margin-top: 65px;
}

#logIn{
	background: white;
	border-bottom: 1.2px solid rgb(179, 189, 206);
	width: 330px;
	margin-top: 50px;
	position: absolute;
	text-align: left;
	margin-left: 33px;
    color: #b3bdce;
}
#name{
	color: #b3bdce;
	position: absolute;
	margin-top: 55px;
	font-size: 13px;
}
#password{
	color: #b3bdce;
	position: absolute;
	margin-top: 40px;
	font-size: 13px;
}
#errormessage{
 position: absolute;
  color: rgb(213,0,0);
  margin-top: 50px;
  margin-left: 34px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  


}
#body{
  background-color: lightgrey;
 
}
#wrapper
{
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(181,163,181,1);
  width: 15%;
  height: 100vh;
}
#logoslide{
  width:230px;
  height: 120px;
  background-color: #D4E157;
}
a:link, a:visited{
  background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


ul
{
list-style-type: none;
}
img{
  padding-left: 52px;
  padding-top: 22px;
}





#sidePanel{
  height:100vh;
  -webkit-box-shadow: 5px 3px 29px -12px rgba(0,0,0,0.75);
  z-index: 1;

}

#panelHeader{
    height: 120px;
    width: 100%;
    background: rgb(212, 225, 87);
    text-align: center;
    line-height: 120px;
}

#list-menu{
    list-style-type: none;
}

#contentHeader{
    background: #EDEDED;
    height: 120px;
}

#editText{
    margin-left:30px;
    position: relative;
    top:60px;
    color:#8D8D8D; 
}

#candidate{
    margin-left:30px;
}

#titleDiv{
    border-bottom: 1px solid rgb(179, 179, 179);
    border-bottom-width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    color: #8D8D8D;
}

#form{
margin-top: 50px;
    
}

#form label{
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 13px;
    color: #8D8D8D;
    display: block;
    width: 100%; 
}

#form input, select{
    display: block;
    width: 100%; 
    border: none;
    outline: none;
    border-bottom:3px solid rgb(212, 225, 87);
    
}

#options{
    margin-top: 20px;
    background: #EDEDED;
    height: 95px;
    width: 1000px;
    
    display: inline-block;
}
.btn{
    margin-top: 30px;
    background-color: #D4E157;

}
#cancle{
    background-color: white;
    margin-left: 420px;
    font-weight: bold;
}
#save{
    margin-left: 10px;
    font-weight: bold;
}
#closein{
    font-weight: bold;
}
